// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'Prompt', 'Poppins', Roboto, 'Mitr', sans-serif !important;
$heading-font-family: 'Prompt', 'Poppins', Roboto, 'Mitr', sans-serif !important;
.v-toolbar__content{
    background-color: #0e999b;
}
span.v-btn__content{
    color: #ffffff;
}
.theme--dark.v-application{
    background-color: #f3f4f4;
    color:black
}
.theme--dark.v-card{
    background-color: #0e999b;
}
@media screen and (min-width:767px) {
    .aboutcc{
        padding:0px 100px;
    }
    
}

// mobile responsive
@media screen and (max-width:767px) {

.v-toolbar__title img {
    height: 75px;
}

.v-toolbar__title {
    padding-left: 0px !important;
    margin-left: -15px;
    margin-top: 7px;
    img {
        height: 75px;
    }
}

button.ma-2.v-btn.v-btn--is-elevated.v-btn--has-bg.v-btn--rounded.theme--dark.v-size--default.primary{
    margin-right:15px  !important;
}
}
